@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
  * {
    @apply py-0.5;
  }
  h1 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h2 {
    @apply text-xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-lg;
    @apply font-semibold;
  }
  a {
    @apply link link-hover link-primary;
  }
  pre:has(code) {
    @apply bg-gray-800 text-white p-2 rounded-lg font-mono;
  }
  img, * img {
    @apply rounded rounded-lg w-max min-w-full;
  }
  hr {
    @apply divider;
  }
  table, * table { 
    @apply table;

    thead {
      @apply bg-base-200;
    }
  }
  input[type="checkbox"] {
    @apply checkbox checkbox-primary;
    width: 1rem;
    height: 1rem;
    &:disabled {
      opacity: 1;
    }
  }
}